body{
    background-color: #ad7979;
}
#header{
    text-align: center;
    font-size: 400%;
}
#main{
    text-align: center;
    margin-top: 15%;
    font-size: 400%;
}
#footer{
    text-align: center;
    margin-top: 15%;
    font-size: 400%;
}